main {
    float : left;
}


#test {
    float: left;
    width: 13%;
    height: 350px;
}


#droite {
	width: 130px;
	height: 350px;
	/* overflow: auto; */
	text-align: center;
	float: left;
}

#pref {
	width: 600px;
	height: 600px;
	overflow: auto;
}

#image {
	background-color: yellow;
}