#deroul {
  float: right;
  height: 5%;
}

.inline {
  width: 200px;
  text-align: center;

}

#topic {
  width: 30%;
}

#v{
  width: 20%;
}

strong {
  color: #53B9DB;
}

#vide {
  height: 10%;
}


/*menu déroulant*/
#menu-vertical, #menu-vertical ul {
  padding:0;
  margin:0;
  list-style:none;
  width: 300px; /* seule ligne rajoutée */
}

#menu-vertical li {
  position: relative;
  background:#EFEFEF; /* juste pour cacher le texte de la page en-dessous */
}

#menu-vertical a {
  display:block;
  text-decoration: none;
  color: #000;
  border: 1px solid black;
}

#menu-vertical ul {
  position: absolute;
  left:-999em;
}

#menu-vertical li:hover ul {
  top: 0;
  left: 300px;
}




/*gallery photo*/

.all_gallery
{
    text-align: center;
  
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

.gallery:hover {
    border: 1px solid #777;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: center;
    font-size: small;
    height: 20%;
}


/*slideshow*/
@keyframes AutoSlide {
  0%, 15%, 100% {
    left: 0px; /*1ère image*/
  }
  35%, 50% {
    left: -150px; /*2ème image*/
  }
  70%, 85% {
    right: -200px; /*3ème image*/
  }
}

#slideshow {
  position: relative;
  width: 100%;
  height: 30%;
  overflow: auto;
}
#sContent li {
  display: inline;
}

#sContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;            
  padding: 0;
  
  /*CSS3 keyframes animation*/
  animation-name: AutoSlide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#block {
  margin: auto;
  margin: auto;
  width: 15%;
  background-image: url("");
}


table
{
    border-collapse: collapse;
    width: 70%;
    border: 1;
}
th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}



td {
  width: 33%;
}

@charset "utf-8";


body {
  background-color: #EDF0EE;
}

#lol{
  width: 7%;
  float: left;
  background-color: #EDF0EE;
  visibility: hidden;
}
